In [1]:
from _ast import Store

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotnine import *

In [2]:
Demand_org = pd.read_csv('data/WoolworthsDemand2024.csv')
print(Demand_org['Store'].values)
Location_org = pd.read_csv('data/WoolworthsLocations.csv')
Demand = Demand_org.melt(id_vars=['Store'], var_name='Date', value_name='Pallets')
Demand['Week'] = 'Week 1'
Demand['Week_day'] = 'Monday'
for j in range(64):
    i0  = j*28
    i1  = j*28 + 7
    i2  = j*28 + 14   
    i3  = j*28 + 21
    i4  = j*28 + 28
    Demand.loc[Demand.index[i0 : i1], 'Week'] = 'Week 1'
    Demand.loc[Demand.index[i1 : i2], 'Week'] = 'Week 2'
    Demand.loc[Demand.index[i2 : i3], 'Week'] = 'Week 3'
    Demand.loc[Demand.index[i3 : i4], 'Week'] = 'Week 4'
    for i in range(4):
        Demand.loc[Demand.index[j*28+i*7], 'Week_day'] = '1-Mon'
        Demand.loc[Demand.index[j*28+i*7+1], 'Week_day'] = '2-Tue'
        Demand.loc[Demand.index[j*28+i*7+2], 'Week_day'] = '3-Wed'
        Demand.loc[Demand.index[j*28+i*7+3], 'Week_day'] = '4-Thu'
        Demand.loc[Demand.index[j*28+i*7+4], 'Week_day'] = '5-Fri'
        Demand.loc[Demand.index[j*28+i*7+5], 'Week_day'] = '6-Sat'
        Demand.loc[Demand.index[j*28+i*7+6], 'Week_day'] = '7-Sun'
Demand = pd.merge(Demand, Location_org, how='left', on='Store')
Demand

['FreshChoice Epsom' 'FreshChoice Flat Bush' 'FreshChoice Glen Eden'
 'FreshChoice Half Moon Bay' 'FreshChoice Mangere Bridge'
 'FreshChoice Otahuhu' 'FreshChoice Palomino' 'FreshChoice Papakura'
 'FreshChoice Ranui' 'FreshChoice Titirangi' 'Metro Albert Street'
 'Metro Halsey Street' 'Metro Herne Bay' 'SuperValue Avondale'
 'Woolworths Airport' 'Woolworths Auckland City'
 'Woolworths Auckland Victoria Street West' 'Woolworths Birkenhead'
 'Woolworths Blockhouse Bay' 'Woolworths Botany Downs'
 'Woolworths Browns Bay' 'Woolworths Glenfield' 'Woolworths Greenlane'
 'Woolworths Greville Road' 'Woolworths Grey Lynn'
 'Woolworths Hauraki Corner' 'Woolworths Henderson'
 'Woolworths Highland Park' 'Woolworths Hobsonville' 'Woolworths Howick'
 'Woolworths Lincoln Road' 'Woolworths Lynnmall' 'Woolworths Mairangi Bay'
 'Woolworths Mangere East' 'Woolworths Mangere Mall' 'Woolworths Manukau'
 'Woolworths Manukau Mall' 'Woolworths Manurewa' 'Woolworths Meadowbank'
 'Woolworths Meadowlands' 'Woolworths Milford' 'Woolworths Mt Eden'
 'Woolworths Mt Roskill' 'Woolworths Mt Wellington' 'Woolworths Newmarket'
 'Woolworths Northcote' 'Woolworths Northwest' 'Woolworths Onehunga'
 'Woolworths Pakuranga' 'Woolworths Papakura' 'Woolworths Papatoetoe'
 'Woolworths Ponsonby' 'Woolworths Pt Chevalier' 'Woolworths Roselands'
 'Woolworths St Johns' 'Woolworths St Lukes' 'Woolworths Sunnynook'
 'Woolworths Takanini' 'Woolworths Takapuna' 'Woolworths Te Atatu North'
 'Woolworths Te Atatu South' 'Woolworths Three Kings'
 'Woolworths Waiata Shores' 'Woolworths Westgate']

,Store,Date,Pallets,Week,Week_day,Type,Location,Lat,Long
0,FreshChoice Epsom,2024-05-06,5,Week 1,1-Mon,FreshChoice,Epsom,-36.892762,174.779765
1,FreshChoice Flat Bush,2024-05-06,2,Week 1,2-Tue,FreshChoice,Flat Bush,-36.976767,174.897227
2,FreshChoice Glen Eden,2024-05-06,5,Week 1,3-Wed,FreshChoice,Glen Eden,-36.910874,174.654550
3,FreshChoice Half Moon Bay,2024-05-06,4,Week 1,4-Thu,FreshChoice,Half Moon Bay,-36.881066,174.900283
4,FreshChoice Mangere Bridge,2024-05-06,4,Week 1,5-Fri,FreshChoice,Mangere Bridge,-36.942508,174.786988
...,...,...,...,...,...,...,...,...,...
1787,Woolworths Te Atatu North,2024-06-02,0,Week 4,3-Wed,Woolworths,Te Atatu North,-36.842093,174.654238
1788,Woolworths Te Atatu South,2024-06-02,0,Week 4,4-Thu,Woolworths,Te Atatu South,-36.864723,174.647629
1789,Woolworths Three Kings,2024-06-02,0,Week 4,5-Fri,Woolworths,Three Kings,-36.907961,174.755907
1790,Woolworths Waiata Shores,2024-06-02,0,Week 4,6-Sat,Woolworths,Waiata Shores,-37.035535,174.907854
1791,Woolworths Westgate,2024-06-02,0,Week 4,7-Sun,Woolworths,Westgate,-36.820929,174.614646

In [3]:
Duration = pd.read_csv('data/WoolworthsDurations.csv')
Duration.rename(columns={'Unnamed: 0': 'From'}, inplace=True)
Duration = Duration.melt(id_vars=['From'], var_name='To', value_name='Time (Sec)',)
Duration['Time (Sec)'] = Duration['Time (Sec)'] / 3600
Duration.rename(columns={'Time (Sec)': 'Time (Hours)'}, inplace=True)
Duration

                              From                            To  Time (Hours)
0                FreshChoice Epsom             FreshChoice Epsom      0.000000
1            FreshChoice Flat Bush             FreshChoice Epsom      0.401278
2            FreshChoice Glen Eden             FreshChoice Epsom      0.485856
3        FreshChoice Half Moon Bay             FreshChoice Epsom      0.441864
4       FreshChoice Mangere Bridge             FreshChoice Epsom      0.247403
...                            ...                           ...           ...
4220     Woolworths Te Atatu South  Distribution Centre Auckland      0.577906
4221        Woolworths Three Kings  Distribution Centre Auckland      0.228914
4222      Woolworths Waiata Shores  Distribution Centre Auckland      0.420419
4223           Woolworths Westgate  Distribution Centre Auckland      0.655367
4224  Distribution Centre Auckland  Distribution Centre Auckland      0.000000

[4225 rows x 3 columns]

In [4]:
Demand_org

,Store,2024-05-06,2024-05-07,2024-05-08,2024-05-09,2024-05-10,2024-05-11,2024-05-12,2024-05-13,2024-05-14,...,2024-05-24,2024-05-25,2024-05-26,2024-05-27,2024-05-28,2024-05-29,2024-05-30,2024-05-31,2024-06-01,2024-06-02
0,FreshChoice Epsom,5,4,6,3,5,0,0,6,4,...,4,0,0,6,5,4,2,3,0,0
1,FreshChoice Flat Bush,2,6,5,4,4,0,0,5,9,...,6,0,0,6,6,2,5,3,0,0
2,FreshChoice Glen Eden,5,5,2,4,2,0,0,5,7,...,3,0,0,5,2,9,7,2,0,0
3,FreshChoice Half Moon Bay,4,7,4,5,4,0,0,5,4,...,2,0,0,3,5,4,4,7,0,0
4,FreshChoice Mangere Bridge,4,5,6,2,4,0,0,3,2,...,5,0,0,5,6,3,4,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Woolworths Te Atatu North,9,8,9,10,5,3,0,9,9,...,10,6,0,8,8,8,11,9,6,0
60,Woolworths Te Atatu South,9,4,8,9,10,4,0,14,5,...,7,3,0,10,9,12,4,5,9,0
61,Woolworths Three Kings,7,5,9,10,10,2,0,8,9,...,7,7,0,9,11,10,7,7,3,0
62,Woolworths Waiata Shores,4,4,5,7,11,5,0,9,6,...,10,3,0,10,11,7,12,5,5,0
63,Woolworths Westgate,8,6,10,9,6,5,0,6,11,...,7,3,0,5,11,9,9,11,2,0

In [5]:
Demand_org = Demand_org.transpose()
header = Demand_org.iloc[0]
Demand_org = pd.DataFrame(Demand_org.values[1:], columns=header)
Demand_org

Store,FreshChoice Epsom,FreshChoice Flat Bush,FreshChoice Glen Eden,FreshChoice Half Moon Bay,FreshChoice Mangere Bridge,FreshChoice Otahuhu,FreshChoice Palomino,FreshChoice Papakura,FreshChoice Ranui,FreshChoice Titirangi,...,Woolworths St Johns,Woolworths St Lukes,Woolworths Sunnynook,Woolworths Takanini,Woolworths Takapuna,Woolworths Te Atatu North,Woolworths Te Atatu South,Woolworths Three Kings,Woolworths Waiata Shores,Woolworths Westgate
0,5,2,5,4,4,5,5,4,4,8,...,10,7,11,11,10,9,9,7,4,8
1,4,6,5,7,5,4,5,5,3,4,...,7,5,9,6,5,8,4,5,4,6
2,6,5,2,4,6,6,5,3,5,8,...,7,12,4,8,6,9,8,9,5,10
3,3,4,4,5,2,6,5,7,4,5,...,12,13,6,10,13,10,9,10,7,9
4,5,4,2,4,4,5,5,3,4,6,...,9,9,4,9,7,5,10,10,11,6
5,0,0,0,0,0,0,0,0,0,0,...,4,6,6,7,3,3,4,2,5,5
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,6,5,5,5,3,5,5,3,6,7,...,7,11,8,8,12,9,14,8,9,6
8,4,9,7,4,2,3,4,4,6,3,...,12,8,9,9,6,9,5,9,6,11
9,3,2,6,5,2,5,5,4,4,3,...,7,11,9,5,7,9,6,6,5,7
10,3,7,6,2,3,8,5,3,4,4,...,7,11,9,10,12,12,5,6,12,6
11,3,3,4,5,2,3,5,3,3,4,...,6,6,4,7,11,8,8,6,11,5
12,0,0,0,0,0,0,0,0,0,0,...,7,4,6,4,4,4,2,7,3,4
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,3,6,4,4,4,7,6,7,5,2,...,5,8,10,7,7,11,8,6,11,8
15,4,3,6,5,4,3,5,6,3,2,...,10,8,7,10,5,6,8,7,8,8
16,2,3,4,5,6,6,5,6,4,3,...,6,6,11,7,6,9,7,8,9,5
17,5,6,3,6,3,5,7,3,4,6,...,8,10,8,7,9,8,7,8,8,7
18,4,6,3,2,5,4,6,5,5,6,...,9,10,3,10,3,10,7,7,10,7
19,0,0,0,0,0,0,0,0,0,0,...,5,7,7,3,6,6,3,7,3,3
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,6,6,5,3,5,4,5,4,4,2,...,8,8,6,5,7,8,10,9,10,5
22,5,6,2,5,6,7,5,7,7,2,...,11,9,5,8,11,8,9,11,11,11
23,4,2,9,4,3,3,6,9,3,7,...,7,5,6,10,5,8,12,10,7,9
24,2,5,7,4,4,3,3,3,3,5,...,8,7,9,4,6,11,4,7,12,9
25,3,3,2,7,3,6,5,7,3,3,...,9,8,5,7,6,9,5,7,5,11
26,0,0,0,0,0,0,0,0,0,0,...,5,3,2,3,6,6,9,3,5,2
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
list_without_6_7 = [i for i in range(28) if ((i+1) % 7 !=0 and (i+2) % 7 != 0)]
list_with_6 = [i for i in range(28) if ((i+2) % 7 == 0)]
list_with_7 = [i for i in range(28) if ((i+1) % 7 == 0)]
store_list_15 = []
store_list_6 = []
store_list_7 = []
store_list_15m = []
store_list_6m = []
store_list_7m = []


z_value = 1.41 
# 92 % of time customer will not have a stockout, assuming the pallet delivered correspond to demand of the stock.
# 5-10 industry standard, 2-3 best in class


for store in Demand_org.columns:
    store_list_15.append(Demand_org.iloc[list_without_6_7][store].std(axis=0) * z_value)
    store_list_6.append(Demand_org.iloc[list_with_6][store].std(axis=0) * z_value)
    store_list_7.append(Demand_org.iloc[list_with_7][store].std(axis=0) * z_value)
    store_list_15m.append(Demand_org.iloc[list_without_6_7][store].mean())
    store_list_6m.append(Demand_org.iloc[list_with_6][store].mean())
    store_list_7m.append(Demand_org.iloc[list_with_7][store].mean())

mon_fri_sd_dict = dict(zip(Demand_org.columns.values, store_list_15))
sat_sd_dict = dict(zip(Demand_org.columns.values, store_list_6))
sun_sd_dict = dict(zip(Demand_org.columns.values, store_list_7))

mon_fri_mean_dict = dict(zip(Demand_org.columns.values, store_list_15m))
sat_mean_dict = dict(zip(Demand_org.columns.values, store_list_6m))
sun_mean_dict = dict(zip(Demand_org.columns.values, store_list_7m))

In [7]:
demand_store_15 = []
demand_store_6 = []
demand_store_7 = []
for store in Demand_org.columns:
    demand_store_15.append(mon_fri_sd_dict[store] + mon_fri_mean_dict[store])
    demand_store_6.append(sat_sd_dict[store] + sat_mean_dict[store])
    demand_store_7.append(sun_sd_dict[store] + sun_mean_dict[store])

demand_15_dict = dict(zip(Demand_org.columns.values, demand_store_15))
demand_6_dict = dict(zip(Demand_org.columns.values, demand_store_6))
demand_7_dict = dict(zip(Demand_org.columns.values, demand_store_7))

demand_15_df = pd.DataFrame.from_dict(demand_15_dict, orient='index')
demand_6_df = pd.DataFrame.from_dict(demand_6_dict, orient='index')
demand_7_df = pd.DataFrame.from_dict(demand_7_dict, orient='index')

demand_15 = pd.Series(demand_store_15, index = Demand_org.columns.values)
demand_6 = pd.Series(demand_store_6, index = Demand_org.columns.values)
demand_7 = pd.Series(demand_store_7, index = Demand_org.columns.values)

Demand_Estimation = pd.DataFrame({'Mon-Fri': demand_15,
                                  'Sat': demand_6,
                                  'Sun': demand_7
                                  })

Demand_Estimation.to_csv('data/Demand_Estimation.csv', index=True)
Demand_Estimation

                              Mon-Fri       Sat  Sun
FreshChoice Epsom            5.771752  0.000000  0.0
FreshChoice Flat Bush        7.328219  0.000000  0.0
FreshChoice Glen Eden        7.274699  0.000000  0.0
FreshChoice Half Moon Bay    6.358229  0.000000  0.0
FreshChoice Mangere Bridge   5.719171  0.000000  0.0
...                               ...       ...  ...
Woolworths Te Atatu North   11.068950  6.865000  0.0
Woolworths Te Atatu South   11.406140  8.883868  0.0
Woolworths Three Kings      10.159381  8.458237  0.0
Woolworths Waiata Shores    12.101269  5.628128  0.0
Woolworths Westgate         10.560525  5.320302  0.0

[64 rows x 3 columns]